body {
    margin: 1px 0px;
    position: relative;
  }
  .popUp {
    position: absolute;
    z-index: 1000;
    top:50;
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .frame {
    border: 2px solid #000000;
    border-radius: 25px;
    overflow: hidden;
    height: 315px;
    width: 515px;
    padding:10px;
  }
  .university-title{
    height:80px;
     display: flex;
  justify-content: center;
  align-items: center;
  }
  .logo{
    width: 18%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .university-name{
    width:82%;
    height:100%;
  }
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .blue-box{
    background-color: #076fdb;
    color:#fff;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .head {
    height: 18%;
    width: 100%;
  }




input,select{
  text-transform: capitalize;
  height:50px;
  width:250px;
  margin: 10px;
  border: none;
  padding-left: 10px;
  border-bottom:1px solid black;
  outline:none;
  border-radius: 5px;
  background-color: rgb(237, 233, 233);
}
input::placeholder{
  color:#000;
}
 
.mainBox{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  box-sizing: border-box;
}

  button {
    background-image: linear-gradient(
      to right,
      rgb(2, 13, 81),
      rgb(25, 176, 220)
    );
    color: #fff;
    padding: 10px;
    margin: 10px;
    width: 130px;
    font-weight: bold;
    border-radius: 10px;
  }

  
  @media only screen and (max-width: 700px) {
  
    .heading {
      font-size: 19px;
    }
  
  
  }
  
  @media print {
  
  
    /* .popUp{
      display: block;
    } */
    
   
* {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }



    button{
      display: none;
    }



  }


  
  